.about {
position: relative;

@include respond(tab-port){
        display: flex;
        flex-directon: column;
    }
    @include resize(mid){
        display: flex;
        flex-direction: column;
    }  
    &__image{
    width: 100%;
    position: absolute;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: flex-end;
    @include respond(tab-port){
        position: relative;
        display: flex;
        justify-content: space-evenly;
    }
    @include resize(mid){
        position: relative;
        display: flex;
        justify-content: space-evenly;
    }
        &--img{
            max-width:70%;
            height: auto;
            padding: 5rem;
        }
        
    }
    
    &__text{
        display: flex;
        flex-direction: column;
        background-color: $color-white;
        width: 50%;
        position: absolute;
        margin-left: 5rem;
        margin-top: 20rem;
        z-index: 1;
        @include respond (tab-port){
            position: relative;
            width: 90%;
            padding: 5rem;
            margin-top: 5rem;
        }
        @include resize (mid){
            position: relative;
            width: 90%;
            padding: 5rem;
            margin-top: 1.5rem;
        }
        &--paragraph{
            font-size: 1.8rem;
            line-height: 2.2rem;
            padding: 2rem;
                a:link, a:visited, a:active {
                    text-decoration: none;
                    color: $color-medium-pink;
                }
                a:hover{
                    font-weight: 400;
                    color: $color-light-pink;
                
                }
        }
    }

}