.footer{
    background-color: $color-grey-pink;
    height: 3.5rem;
    display: flex;
    align-items: center;
    bottom: 0;
    padding-bottom: 0;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    
    
    
    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        margin-bottom: 0;
        a:link, a:visited, a:hover, a:active{
            color: $color-white;
        }
    }
    &__link--icons{
        font-size: 2rem;
        padding: 1.5rem;
    }
    &__link--p{
        color: $color-white;
        font-size: 2rem;
        padding: 1.5rem;
        text-transform: uppercase;
        @include respond(phone){
            text-transform: none;
        }
        @include resize(skinny){
            text-transform: none;
        }

    }

    
}