.portfolio {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    justify-content: space-around;
    overflow: visible;
    width: 90%;
    height: 95%;
    margin: 10rem auto 10rem auto;
    padding: 1.5rem;
    @include respond(phone){
        grid-template-columns: auto;
    }
    @include resize(skinny){
        grid-template-columns: auto;
    }
    &__piece{
        padding: 1rem;
        justify-self: center;
        cursor: pointer;
        
       
    
        &--image{
            max-width: 100%;
            height: auto;
            

        }
       
        
    }
   

}

@media (min-width: 576px) {
        .portfolio:hover > .portfolio__piece{
        opacity: .1;
    }
    .portfolio:hover > .portfolio__piece:hover{
        opacity: 1;
        z-index: 1;
    }

    .portfolio__piece:hover{
        transform: scale(1.15);
        position: relative;
        z-index: 999;
    }
    // .portfolio__piece--image:hover{
    //     border: solid $color-light-pink 5px;
        
    // }
}



