.btn-moreinfo:link,
.btn-moreinfo:visited {
    border: none;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-bright;
    text-decoration: none;
    padding: 2rem;
    border-radius: 5px;
    transition: all .2s;
    
    
}
.btn-moreinfo:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn-moreinfo:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);

}

.glide__arrows{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
}

.glide__arrow {
    background: none;
    font-size: 2.5rem;
    color: $color-medium-grey;
    outline: none;
    cursor: pointer;
    border: none;
    
}

.btn-contact {
    border: none;
    text-transform: uppercase;
    font-weight: 400;
    background-color: $color-bright;
    color: $color-white;
    width: 30%;
    border-radius: 5px;
}

.btn-contact:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn-contact:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);

}