$color-light-pink: #dee2ff
;
$color-grey-pink: #e8e8e8;
$color-medium-pink: #7987e0;
$color-bright: #90a6f5;
$color-black: #262626;
$color-light-grey: #dbdbdb;
$color-medium-grey: #b5b5b5;
$color-services-button: #303030;
$color-white: hsl(0, 0%, 98%);

$fa-font-path:        "../webfonts"
//$color-grey-pink: #9fa5d6;//
//$color-grey-pink: #9fa5d6;//
